<!doctype html>
<html lang="en">

<head>
    <title>QR Code Generator</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="widthS=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
        * {
            font-family: Montserrat;
        }
        
        .card {
            margin: 0 auto;
            /* Added */
            float: none;
            /* Added */
            margin-bottom: 10px;
            /* Added */
        }
    </style>
       <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body onload="loadon()">

 
    <!-- Main Container -->
    <div class="container" >
        <br>
        <h1 class="text-center">Not Commit</h1>
        <hr>

        <!-- Input card -->
        <!-- row -->
        <div class="row col-sm-8 offset-2">

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <img id="imgE" ></img>
                </div>
               
               
       
          </div>
               <!-- row col-sm-8 offset-4// -->
        </div>
            <!-- col.// -->
            <aside class="col-sm-8 offset-2 text-center">
                
                    <hr>
<caption><p class="card-text">Scan the QR Code to access data!</p></caption>
                <div class="card" style="overflow-y: scroll;">
                <table class="table table-striped">
                    <tr class="table-primary">
                        <th scope="col">Userid</th>
                        <th>Status</th>
                        <th>Previous Presents Status</th>
                        <th>Total No Of Class</th>
                        <th>Attendence percentage</th>
                        <th>Zone</th>
                    </tr>
                    <tr>
                        <td>101</td>
                        <td>P</td>
                        <td>A</td>
                        <td>10</td>
                        <td>9%</td>
                        <td>safe</td>
                    </tr>
                </table>
                </div>
                <!-- card.// -->

            </aside>
       

      
        <!--Image card end.//-->

    </div>
    <!--container end.//-->
</body>

</html>
<script>
    function loadon(){
 
    setInterval(function(){

     var code = Math.floor(Math.random() * 10);

  
    

        
        $.ajax({
            method:'GET',
            url:'https://cryptic-stream-79146.herokuapp.com/qrcg',
            dataType:'json',
            data:{'url':code},
            success:function(data){
                const imgElem =document.getElementById('imgE'); 
                const baseStr64=data.src;
   imgElem.setAttribute('src',  baseStr64);
   console.log(data);
            },
            error:function(err){

       
          
        
            }
        })
      
    },3000);

     }
    

</script>